### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
total_revenue = purchase_data['Price'].sum()

items = set(purchase_data['Item Name'])
num_items = len(items)
print('Number of unique items: ', num_items)

grouped_by_items = purchase_data.groupby('Item Name')
item_mean_summary_df = grouped_by_items.mean()
item_mean_summary_df['Price'] = item_mean_summary_df['Price'].map('${:.2f}'.format)
item_summary_df = item_mean_summary_df.rename(columns = {'Price': 'Average Purchase'}, inplace = False)
del item_summary_df['Purchase ID']
del item_summary_df['Age']
print('Total Revenue: $' ,total_revenue)
item_summary_df

Number of unique items:  179
Total Revenue: $ 2379.77

                                 Item ID Average Purchase
Item Name
Abyssal Shard                      162.0            $2.67
Aetherius, Boon of the Blessed     137.0            $3.39
Agatha                             120.0            $3.08
Alpha                              130.0            $2.07
Alpha, Oath of Zeal                 79.0            $4.05
...                                  ...              ...
Wolf                                60.0            $3.54
Wolf, Promise of the Moonwalker    179.0            $4.48
Worldbreaker                       112.0            $2.60
Yearning Crusher                    74.0            $4.18
Yearning Mageblade                 114.0            $3.82

[179 rows x 2 columns]

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
gender_demo = purchase_data['Gender'].value_counts()
total = gender_demo.sum()
print(gender_demo)
percent_male = (gender_demo['Male'] / total) * 100
percent_female = (gender_demo['Female'] / total) * 100 
percent_other_nondisclosed = (gender_demo['Other / Non-Disclosed'] / total) * 100 
gender_demo_df = pd.DataFrame({'Percent Male': [percent_male],
                                'Percent Female': [percent_female],
                                'Percent Other / Non-Disclosed': [percent_other_nondisclosed]})
gender_demo_df['Percent Male'] = gender_demo_df['Percent Male'].map('{:.2f}%'.format)
gender_demo_df['Percent Female'] = gender_demo_df['Percent Female'].map('{:.2f}%'.format)
gender_demo_df['Percent Other / Non-Disclosed'] = gender_demo_df['Percent Other / Non-Disclosed'].map('{:.2f}%'.format)

gender_demo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
grouped_by_gender_sn = purchase_data.groupby(['Gender', 'SN'])

num_purchases = grouped_by_gender_sn.count()['Purchase ID']

gender_mean_summary_df = grouped_by_gender_sn.mean()
gender_mean_summary_df['Number of Purchaes'] = num_purchases

del gender_mean_summary_df['Age']
del gender_mean_summary_df['Purchase ID']

gender_mean_summary_df['Price'] = gender_mean_summary_df['Price'].map('${:.2f}'.format)
gender_mean_summary_df.rename(columns={'Price': 'Average Amount Spent'}) #get proper name
gender_mean_summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
min_age = purchase_data['Age'].min()
max_age = purchase_data['Age'].max()

age_cutoffs = [min_age - 1, 10, 17, 24, 30, max_age + 1]
bin_names = ['Adolescent', 'Teen', 'Young Adult', 'Adult', 'Senior']

purchase_data_copy = purchase_data.copy()

purchase_data_copy['age_categories'] = pd.cut(purchase_data['Age'], age_cutoffs ,labels=bin_names )

group_by_age_bins = purchase_data_copy.groupby('age_categories')
age_group_df = group_by_age_bins.mean()
del age_group_df['Purchase ID'] 

age_group_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame